@model IEnumerable<DepositsTransactions>
@{
    Layout = "~/Views/Shared/_LayoutAltexBlue.cshtml";
    ViewBag.Title = "Deposits";
}
<div class="row">
    <div class="col-lg-12">
        <div class="markets-filter-tabs clear-block">
            <ul class="flex-row tabs-nav">
                @Html.Partial("_TabbedMenuPartial")
            </ul>
        </div>
        <div class="tab-content">
            <div class="pane active card-block markets-table">
                <div class="markets-table-tbody">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <a>@Html.DisplayNameFor(model => model.TxId)</a>
                                    </th>
                                    <th>
                                        <a>Coin Name</a>
                                    </th>
                                    <th>
                                        <a>@Html.DisplayNameFor(model => model.Date)</a>
                                    </th>
                                    <th>
                                        <a>Amount</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TxId)
                                        </td>
                                        <td>
                                            @CoinsManager.GetCoinNameById(item.CoinId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @item.Amount.ToString("F8")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
